[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    */venv/*,
    */env/*,
    */site-packages/*
ignore = 
    E203,  # whitespace before ':'
    E266,  # too many leading '#' for block comment
    W503,  # line break before binary operator
    W504   # line break after binary operator
per-file-ignores =
    */__init__.py:F401
max-complexity = 10